<div class="container">
  <section class="steps">
    <nav class="d-flex">
      <div *ngFor="let step of steps; index as i" [class.active]="activeStepIdx === i" class="step">
        <h6 class="step__name">{{step}}</h6>
        <div [ngStyle]="{width:getStepProgressWidthByIdx(i)}" class="step__progress"></div>
      </div>
    </nav>
  </section>
  <section class="question">
    <p class="question__number">{{activeQuestionNo}}/10</p>
    <div class="row">
      <div class="col-lg-8">
        <h4 class="question__text">People working on the AI strategy are expected to contribute to onboarding resources for use by new hires.</h4>
      </div>
      <div class="col-lg-8">
        <div class="answers">
          <div class="d-flex justify-content-between">
            <div *ngFor="let answer of answers; index as i" class="answer__number">{{i + 1}}</div>
          </div>
          <div class="d-flex justify-content-between answer__bar">
            <div *ngFor="let answer of answers; index as i">
              <input [id]="'answer_'+i" name="answer" type="radio">
              <label [for]="'answer_'+i" [ngClass]="answer.className" class="answer__btn"></label>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <ng-container *ngFor="let answer of answers; index as i">
              <div *ngIf="answer.text" class="answer__text">{{answer.text}}</div>
            </ng-container>
          </div>
        </div>
        <textarea class="form-control" rows="5"></textarea>
        <div class="mt-5">
          <div *ngFor="let input of inputs" class="form-floating mb-3">
            <input [id]="input.id" [placeholder]="input.label" class="form-control">
            <label [for]="input.id" class="form-label">{{input.label}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex mt-4 mb-5 actions">
      <button class="btn btn-outline-primary mt-2">Skip</button>
      <button class="btn btn-primary mt-2 ms-3">Submit</button>
    </div>
  </section>
</div>
