// Required
@import "~bootstrap/scss/functions";

// Default variable overrides
$body-color: #000;
$primary: #000;

$red: #FF4740;
$semi-danger: #FF9D47;
$yellow: #FFF500;
$semi-success: #A8BF19;
$green: #22AF49;
$gray-500: #C4C4C4;

$headings-color: #021206;
$headings-font-weight: bold;
$input-border-color: $body-color;

$btn-font-weight: bold;
$btn-padding-x: 1.5rem;

$border-radius: 0;
$form-label-font-weight: bold;

$theme-colors: (
  "primary": $primary,
  "success": $green,
  "semi-success":$semi-success,
  "warning": $yellow,
  "semi-danger":$semi-danger,
  "danger": $red,
);

// Required
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
